<footer class="mt-auto">
    <div class="footer">
        <p>Copyright © Factory Dukaan | All rights reserved.</p>
        <p>Cooked with ❤️ by <a href="http://gawds.in">GAWDS</a></p>
    </div>
</footer>