<!-- Image and text -->
<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" height="30"  class="d-inline-block align-top" alt="">
    </a>

    <a href="/signup">Sign in</a>
  </nav>
</header>