<div class="container">
    <div class="row">
        <div class="column">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Allahabad</a>
                        <a class="dropdown-item" href="#">New Delhi</a>
                        <a class="dropdown-item" href="#">Kurukshetra</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Search" placeholder="Search here...">
            </div>
        </div>
    </div>
</div>
