{{!-- <div class="container">
    <div class="row">
        <div class="column">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Allahabad</a>
                        <a class="dropdown-item" href="#">New Delhi</a>
                        <a class="dropdown-item" href="#">Kurukshetra</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Search" placeholder="Search here...">
            </div>
        </div>
    </div>
</div> --}}

<div class="container">
    <div class="row">
        <div class="column">
            <form class="form-group" action="">
                <select class="city-select">
                    <option selected>All</option>
                    <option value="1">Electronics</option>
                    <option value="2">Development</option>
                    <option value="3">Computer Appliances</option>
                    <option value="4">Construction</option>

                </select>
                <input class="search-area" type="text" placeholder="Search..." name="search">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>       
    {{!-- <div class="row">
        <div class="column">
            <h2>OR</h2>
            <button type="submit">View All Products</button>
        </div>
    </div> --}}
</div>
