<div id="trade-area">
    <div class="text-area">
        <div class="trade-header">
            <span style="color: #b3f2dd;">Start</span> Your Journey Now With <span style="color: #0a1f18;">Us</span>
        </div>
        <div class="trade-btns">
            <a href="/products"><button type="button" class="btn btn-outline-primary">Buyer</button></a>
            <a href="/seller"><button href="/login"type="button" class="btn btn-outline-primary">Seller</button></a>
        </div>
    </div>
    <div class="trade-img">
        <img src="/images/family-values.png" alt="trade"/>
    </div>
</div>