/*************** general *************/

.page-heading {
	font-size: 30px;
	font-weight: bold;
	float: left;
}

.horizontal-scroll-wrapper {
	overflow-x: auto;
}

.horizontal-scroll-container {
	min-width: 1200px;
}

/*************** header **************/

.navbar {
	box-shadow: 0 0 5px -2px;
	margin-bottom: 30px;
}

.nav-item {
	margin: 0 5px;
}

/** page heading seach/sort/filter ***/

#search_input,
#search_btn,
#search_input:active,
#search_input:focus,
#search_btn:active,
#search_btn:focus {
	background-color: #f5f5f5;
	border: none;
	box-shadow: none;
}

#search_group {
	float: right;
	width: 300px;
}

#sort_dropdown {
	float: right;
}

/*********** Product Details - Start ***********/

.panel-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-deck1 {
	margin-top: 10px;
}

.tags-section {
	margin-top: 20px;
	margin-bottom: 40px;
}

.warning {
	font-size: 12px;
	color: rgb(122, 122, 122);
}

.row-control {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card .close {
	position: absolute;
	top: 1px;
	right: 2px;
	z-index: 100;
	color: red;
	cursor: pointer;
	background: white;
}

.btnSaveProduct {
	border: none;
	border-radius: 20px;
	margin-top: 10px;
	color: #fff;
	width: 150px;
	padding: 5px;
	background: #2196f3;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.btnSaveProduct:hover {
	background: #0062cc;
}

.btnAddSpecs {
	border: none;
	border-radius: 20px;
	color: #fff;
	width: 7rem;
	padding: 5px;
	background: #2196f3;
	cursor: pointer;
}

.btnAddSpecs:hover {
	background: #0062cc;
}

/*********** Product Details - End ***********/

footer {
	position: relative;
	bottom: 0;
}

footer p {
	margin-block-end: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer {
	background: #e6e6e6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/************* Toggle Style ****************/

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 100ms;
	transition: 100ms;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 100ms;
	transition: 100ms;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.gst-container {
	background-color: #e6e6e6;
	margin-bottom: 20px;
}

.pan-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 90vw;
	margin: 20px;
	border: 2px solid black;
}

p {
	font-size: 18px;
}

.gst-actions {
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.gst-actions button {
	margin-right: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
	flex-basis: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/************* Image Viewer - Start *************/

#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.modal-content {
		width: 90%;
	}
}

.mr-25 {
	margin-right: 25px;
}

.product-control {
	text-align: center;
}


/************* faq page - Start *************/

.heads{
	display: flex;
	justify-content: space-between;
}
.ques-head{
	display: flex;
	
}
.ques-head .btn{
	margin: 0 5px 0 10px;
	border-radius: 15px;
	height: 30px;
}
#add-btn{
	border-radius: 19px;
	background-color: #fff;
	font-weight: bold;
}
#add-btn:hover{
	background-color: #343a40;
	color: #fff;
}



/************* faq page - End *************/

/* **********query-page starts********** */
.row .col-1{
	text-align: center;
}
.row .col-2{
	text-align: center;
}

/* **********query-page ends********** */
