* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;
	padding-top: 70px;
	/* background-color: rgb(56, 245, 71); */
}
#trade-area {
	display: flex;
	/* flex-wrap: wrap; */
	margin: 12px 0 94px 30px;
	padding: 10px;
}
.lang-select {
	font-weight: lighter;
	display: flex;
	font-size: small;
	color: rgb(126, 126, 126);
	margin-top: -10px;
}
.lang-select span {
	cursor: pointer;
	/* color: aquamarine; */
	font-size: x-small;
	padding: 3px;
}
.lang-select span:hover {
	text-decoration: underline;
}

#trade-area .text-area .defination {
	font-size: smaller;
	font-weight: lighter;
	color: rgb(126, 126, 126);
}
#trade-area .text-area .trade-header {
	font-size: 4vw;
	width: 77%;
	font-weight: bold;
}
#trade-area .text-area {
	width: 50%;
}
#trade-area .text-area .trade-btns button {
	margin: 0 5px 0 0;
	/* padding: 8px; */
	/* border-style: none; */
	border-radius: 20px;
	/* font-weight: bold; */
	color: #0a1f18;
	border-color: #0a1f18;
	min-width: 73px;
}
#trade-area .text-area .trade-btns button:hover {
	background-color: #0a1f18;
	color: #fff;
}
#trade-area .trade-img {
	margin: 113px 0 0 -6px;
	/* height: 30vw; */
}
#trade-area .trade-img img {
	height: 24vw;
}

.wrapper {
	display: flex;
	position: relative;
	/* position: sticky; */
}
@media screen and (max-width: 500px) {
	.sidebar {
		display: none;
	}
	.form-group .city-select {
		width: 16vw;
	}
	.carousel-inner {
		height: 60vw;
	}
	.pricing-header .display-4 {
		font-size: 35px;
	}
	.pricing-header .lead {
		font-size: 17px;
		color: #32292f;
	}
	/* .search-area{
		width: 60%;
	} */
	form.form-group input[type=text] {
		min-width: 62vw;
	}
	form.form-group button {
		min-width: 14vw;
	}
	#trade-area .trade-img {
		display: none;
	}
	#trade-area .text-area .trade-btns {
		width: 45vw;
	}
	#trade-area .text-area .trade-btns button {
		width: 15vw;
		font-size: 3.5vw;
	}
	#trade-area {
		width: 88%;
		margin: 20px 20px 20px 63px;
	}
	#trade-area .text-area .trade-header {
		font-size: larger;
	}
}

@media screen and (min-width: 500px) {
	.wrapper .main_content {
		margin-left: 120px;
	}
	#trade-area .text-area {
		margin: 0 -26px 0 41px;
	}
}

.wrapper .sidebar {
	position: fixed;
	width: 124px;
	height: 100%;
	background-color: #fff;
	padding: 30px 0;
}

.wrapper .sidebar ul li {
	padding: 15px;
}
.wrapper .sidebar ul li a {
	color: #000;
}
.wrapper .sidebar ul li .fas {
	width: 25px;
	color: #ff922b;
}
.wrapper .sidebar ul li:hover {
	background: #fff;
	transform: translateX(5px);
	transition: ease 0.3s;
}

.wrapper .main_content {
	width: 100%;
}

/* .main_content {
	margin-left: auto;
	margin-right: auto;
} */

.box {
	/* height: 50vh; */
	margin-left: 30px;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* background-color: #d1e3dd; */
}
.card {
	/* margin: 6px; */
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	/* cursor: pointer; */
}

.card .card-header {
	background-color: #2196f3;
	font-weight: bold;
}
.card:hover {
	transform: scale(1.02);
	z-index: 1;
	transition: ease 0.2s;
}

.pricing-header .lead {
	color: #32292f;
}

body a:hover {
	text-decoration: none;
	cursor: pointer;
}

/* .form-control,
.btn,
.d-flex {
	margin: auto;
}
.d-flex {
	justify-content: space-between;
}
@media screen and (min-width: 500px) {
	.form-control,
	.btn,
	.d-flex {
		max-width: 40%;
	}
} */

.header {
	display: flex;
	flex: wrap;
	justify-content: space-between;
	padding: 5px;
}

.navbar-brand img {
	transform: scale(1.4);
	margin-left: 1rem;
}

.advertisement {
	width: 80vw;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.pricing-container {
	width: 60vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.carousel .carousel-item {
	height: 500px;
}

.carousel-item img {
	position: absolute;
	top: 0;
	left: 0;
	/* min-height: 300px; */
	object-fit: cover !important;
}

.search-container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: auto;
	margin-right: auto; */
	margin: auto;
	/* width: 80vw; */
	/* height: 400px; */
	/* margin-top: 20px; */
	/* padding-top: 20px; */
	/* background-image: url("/images/landingBack.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.form-group select {
	width: 5vw;
	height: 45px;
	border-radius: 20px 0 0 20px;
	text-align: right;
	padding-left: 10px;
}

form.form-group input[type=text] {
	margin-left: -5px;
	padding-left: 5px;
	width: 40vw;
	height: 45px;
	font-size: 16px;
	border: 1px solid grey;
}

form.form-group button {
	background: #2196f3;
	margin-left: -4.2px;
	color: white;
	font-size: 1em;
	width: 4vw;
	height: 46px;
	/* border: 1px solid grey; */
	border-left: none;
	cursor: pointer;
	border-radius: 0 20px 20px 0;
	padding: 0 0 0 8px;
}

form.form-group button:hover {
	background: #1b77c2;
}

.note {
	text-align: center;
	height: 80px;
	background: #0062cc;
	color: #fff;
	font-weight: bold;
	line-height: 80px;
}

.register-form {
	width: 80vw;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.form-content {
	padding: 5%;
	border: 1px solid #ced4da;
	margin-bottom: 2%;
}
.form-control {
	border-radius: 1.5rem;
}
.btnSubmit {
	border: none;
	border-radius: 1.5rem;
	padding: 1%;
	width: 20%;
	cursor: pointer;
	background: #0062cc;
	color: #fff;
}

.btnEditProfile {
	border: none;
	color: #fff;
	width: 10vw;
	padding: 5px;
	background: #2196f3;
	border-radius: 20px;
	margin: 5px;
}

.edit-profile button:hover {
	background: #0062cc;
}

.edit-profile {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 20px;
	/* justify-content: space-between; */
}

.profile-container {
	/* width: 100%; */
	/* margin-top: 20px; */
	/* margin-left: auto;
	margin-right: auto; */
	background: #e6e6e6;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}

@media screen and (min-width: 1000px) {
	.main_content {
		margin-left: 10vw !important;
	}
}

.profile-container h2 {
	text-align: center;
}

.fas,
.far {
	margin-right: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* width: 100%; */
	justify-content: center;
	align-items: center;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.column {
	display: flex;
	flex-direction: column;
	/* display: flex;
	flex-direction: column;
	flex-basis: 100%;
	justify-content: center;
	align-items: center; */
}

.col-left {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.col-right {
	flex: 2;
	/* justify-content: center;
	align-items: center; */
}

.fa-check-circle {
	color: #0062cc;
}

.company-desc {
	width: 50vw;
}

.column h1 {
	font-size: 2.2rem;
}

.column img {
	margin-left: auto;
	margin-right: auto;
}

.profile-img {
	border-radius: 50%;
	width: 250px;
}

@media screen and (max-width: 750px) {
	.row {
		flex-direction: column;
	}
	.profile-img {
		width: 150px;
	}
}

.products-section {
	/* width: 90vw; */
	margin-top: 5px;
	margin-bottom: 20px;
	/* margin-left: auto;
	margin-right: auto; */
	/* padding-top: 20px; */
	padding-bottom: 20px;
	border-radius: 5px;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.list-group {
	width: 30vw;
}

footer {
	position: relative;
	bottom: 0;
}

footer p {
	margin-block-end: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer {
	width: 100%;
	background: #e6e6e6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
