* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: 'Poppins', sans-serif;
	padding-top: 70px;
	/* background-color: rgb(56, 245, 71); */
}
.wrapper {
	display: flex;
	position: relative;
	/* position: sticky; */
}
@media screen and (max-width: 500px) {
	.sidebar{
		display: none;
	}
	.form-group .city-select {
		width: 16vw;
		
	}
	/* .search-area{
		width: 60%;
	} */
	form.form-group input[type=text] {
		min-width:62vw;
	}
	form.form-group button {
		min-width: 14vw;
	}



}
@media screen and (min-width: 500px) {
	.wrapper .main_content{
		margin-left: 120px;
	}
}


.wrapper .sidebar {
	position: fixed;
	width: 113px;
	height: 100%;
	background-color: #fff;
	padding: 30px 0;
}

.wrapper .sidebar ul li {
	padding: 15px;
}
.wrapper .sidebar ul li a {
	color: #000;
}
.wrapper .sidebar ul li .fas {
	width: 25px;
	color: #ff922b;
}
.wrapper .sidebar ul li:hover {
	background: #fff;
	transform: translateX(5px);
	transition: ease 0.3s;
}

.wrapper .main_content {
	width: 100%;
	
}

.box {
	/* height: 50vh; */
	margin-left: 30px;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* background-color: #d1e3dd; */
}
.card {
	margin: 6px;
	width: 253px;
	/* height: 40vw; */
	/* padding: 10px; */
	cursor: pointer;
}
.card .card-header{
	background-color: #ff922b;
	font-weight: bold;
}
.card:hover {
	transform: scale(1.05);
	z-index: 1;
	transition: ease 0.4s;
}
body a:hover {
	text-decoration: none;
	cursor: pointer;
}

/* .form-control,
.btn,
.d-flex {
	margin: auto;
}
.d-flex {
	justify-content: space-between;
}
@media screen and (min-width: 500px) {
	.form-control,
	.btn,
	.d-flex {
		max-width: 40%;
	}
} */

.header {
	display: flex;
	flex: wrap;
	justify-content: space-between;
	padding: 5px;
}

.navbar-brand img {
	transform: scale(1.4);
	margin-left: 1rem;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80vw;
	height: 400px;
	margin-top: 20px;
	padding-top: 20px;
	background-image: url("/images/landingBack.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.form-group select {
	width: 8vw;
	height: 45px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

form.form-group input[type=text] {
	margin-left: -4px;
	padding-left: 5px;
	width: 40vw;
	height: 45px;
	font-size: 16px;
	border: 1px solid grey;
}

form.form-group button {
	background: #2196f3;
	margin-left: -4px;
	color: white;
	font-size: 0.8em;
	width: 5vw;
	height: 46px;
	/* border: 1px solid grey; */
	border-left: none;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

form.form-group button:hover {
	background: #1b77c2;
}

footer {
	position: relative;
	bottom: 0;
}

footer p {
	margin-block-end: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer {
	width: 100%;
	background: #e6e6e6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
