{{!-- <div class="box">

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Gold</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Platinum</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Diamond</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Crown</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>


</div> --}}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Some pricing description goes</p>
</div>

    <div class="pricing-container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fas fa-check"></i>&nbsp; 10 users included</li>
              <li><i class="fas fa-check"></i>&nbsp;2 GB of storage</li>
              <li><i class="fas fa-times"></i>&nbsp;Email support</li>
              <li><i class="fas fa-times"></i>&nbsp;Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fas fa-check"></i>&nbsp;20 users included</li>
              <li><i class="fas fa-check"></i>&nbsp;10 GB of storage</li>
              <li><i class="fas fa-check"></i>&nbsp;Priority email support</li>
              <li><i class="fas fa-times"></i>&nbsp;Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fas fa-check"></i>&nbsp;30 users included</li>
              <li><i class="fas fa-check"></i>&nbsp;15 GB of storage</li>
              <li><i class="fas fa-check"></i>&nbsp;Phone and email support</li>
              <li><i class="fas fa-check"></i>&nbsp;Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy</button>
          </div>
        </div>
      </div>
    </div>