


{{>start}}
{{>headBody}}
{{>header}}
    <div class="wrapper">
        {{>sidenav}}
        <div class="main_content">
            
            <div class="profile-container">
                <div class="edit-profile">
                    {{!-- <h2>User Profile</h2> --}}
                    <button type="button" class="btnEditProfile">Edit</button>
                </div>
                <div class="row">
                    <div class="column col-left">
                        <img class="profile-img" src="/images/user.png" alt="">
                    </div>
                    <div class="column col-right">
                        <h1>Sam Kolder</h1>
                        <p>
                            <i class="fas fa-building"></i>Company Name &nbsp; {{#if true}} <i class="fas fa-check-circle"></i> {{/if}} <br>
                            <i class="fas fa-envelope"></i>email@example.com <br> 
                            <i class="fas fa-money-check-alt"></i>GST TIN 75758658147574 <br>
                            <i class="far fa-calendar-alt"></i>Date Joined <br>
                            <i class="fas fa-phone-square-alt"></i>9876543210 
                            <hr style="width: 20vw; margin: 0">
                        </p>
                        <div class="company-desc">
                            <strong>Company Description</strong>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet vehicula magna, eu feugiat dui. 
                               Pellentesque condimentum lorem at arcu ultrices feugiat. Sed blandit sapien maximus lobortis auctor. 
                               Morbi ac risus ac metus mollis pretium at vel enim. Vivamus dictum dictum porttitor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="products-section">
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'my-products')" id="defaultOpen">My Products</button>
                    <button class="tablinks" onclick="openTab(event, 'my-wishlist')">Wishlist</button>
                    <button class="tablinks" onclick="openTab(event, 'my-requirements')">My Requirements</button>
                </div>

                <div id="my-products" class="tabcontent">
                    {{!-- <div class="container-fluid"> --}}
                        <div class="row">
                            {{!-- <div class="col-sm-4"> --}}
                            <div class="card">
                                <img src="/images/product1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            {{!-- </div> --}}

                            {{!-- <div class="col-sm-4"> --}}
                            <div class="card">
                                <img src="/images/product1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            {{!-- </div> --}}

                            {{!-- <div class="col-sm-4"> --}}
                            <div class="card">
                                <img src="/images/product1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            {{!-- </div> --}}
                        </div>
                    {{!-- </div> --}}
                </div>

                <div id="my-wishlist" class="tabcontent">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>

                <div id="my-requirements" class="tabcontent">
                    <h2>My requirements goes here...</h2>
                </div>
            </div>
        </div>
    </div>
{{>footer}}
{{>end}}