
{{>start}}
{{>headBody}}
{{>header}}
    <div class="wrapper">
        {{>sidenav}}
        <div class="main_content">
            <div class="edit-profile">
                <button type="button" class="btnEditProfile">Edit Profile</button>
            </div>
            
            <div class="profile-container">
                
            </div>
        </div>
    </div>
{{>footer}}
{{>end}}