<%- include('../partials/admin/start.ejs') %>
<%- include('../partials/headBody.ejs') %>
<%- include('../partials/admin/header.ejs') %>

<h1>This is the admin dashboard.</h1>

<%- include('../partials/end.ejs') %>