<%- include('../partials/admin/start.ejs') %> 
<%-include('../partials/headBody.ejs') %> 
<%-include('../partials/admin/header.ejs') %>

<div>
    this is query page
</div>
<%- include('../partials/end.ejs') %>