
{{>start}}
<link type="text/css" rel="stylesheet" href="/css/products.css" />
<body class="d-flex flex-column min-vh-100">

{{>header}}

<div>
    <h4>Recommended</h4>
    <div class="item-lists">

    <div class="buy-items">
        <div class='indItem'>
            <div class="item-img"><img height="80px" width="auto" src="/images/family-values.png"/></div>
            <div class="item-data">
                <h2 class="item-name">Name</h2>
                <p class="hotel-des">Description</p>

            </div>
        </div>
    </div>
        <div class="buy-items">
        <div class='indItem'>
            <div class="item-img"></div>
            <div class="item-data">
                <h2 class="item-name">Name</h2>
                <p class="hotel-des">Description</p>
            </div>
        </div>
    </div>
    </div>
</div>

{{>footer}}
{{>end}}
