
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy</title>
    <link type="text/css" rel="stylesheet" href="/css/buy.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
<body class="d-flex flex-column min-vh-100">
{{>header}}




<div>
    <h4>Recommended</h4>
    <div class="item-lists">

    <div class="buy-items">
        <div class='indItem'>
            <div class="item-img"><img height="80px" width="auto" src="/images/family-values.png"/></div>
            <div class="item-data">
                <h2 class="item-name">Name</h2>
                <p class="hotel-des">Description</p>

            </div>
        </div>
    </div>
        <div class="buy-items">
        <div class='indItem'>
            <div class="item-img"></div>
            <div class="item-data">
                <h2 class="item-name">Name</h2>
                <p class="hotel-des">Description</p>
            </div>
        </div>
    </div>
    </div>
</div>

{{>footer}}
{{>end}}
