<header class="header">
  <div><img src="../../public/img/fd.jpg" height="30" alt=""></div>
  <div id="signIn">Sign In</div>
</header>
<hr />


<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/public/img/logo.png" height="30"  class="d-inline-block align-top" alt="">
    Factory Dukaan
  </a>
</nav> -->