<header class="header">
  <div id="logo"><img src="/images/logo.png" height="30" alt=""></div>
  <a href="/signup"><div id="signIn">Sign In</div></a>
</header>
<hr style="margin: 0px;"/>


<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/public/img/logo.png" height="30"  class="d-inline-block align-top" alt="">
    Factory Dukaan
  </a>
</nav> -->