<!-- Image and text -->
<header>
  <nav class="navbar navbar-light fixed-top bg-light">
    <span id="menu-bar">
      <i onclick="openNav()" class="fas fa-bars fa-lg"></i>
      
    </span>

    <a class="navbar-brand" href="/">
      <img
        src="/images/logo.png"
        height="30"
        class="d-inline-block align-top"
        alt="logo"
      />
    </a>

    <div class="search-container">
        <div class="row">
            <div class="column">
                <form class="form-group" action="/products">
                    <input class="search-area" type="text" placeholder="Search..." name="search">
                    <% if (pageTitle === 'Products') { %>
                    <% for (let query in queryParams) { %>
                    <% if(!(query === 'search' || query === 'after' || query === 'before')) { %>
                    <input name="<%= query %>" value="<%= queryParams[query] %>" hidden />
                    <% } %>
                    <% } %>
                    <% } %>
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>

    <% if(auth) { %>
      <form action="/logout" method="POST">
        <button type="submit" class="btnAuth">Logout</button>
      </form>
    <% } else { %>
      <form action="/login" method="GET">
        <button type="submit" class="btnAuth">Login</button>
      </form>
    <% } %>
  </nav>
</header>
<script>
      /* Set the width of the side navigation to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
</script>
