
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Purchase a plan that suits your business and enjoy your sales growth</p>
</div>

    <div class="pricing-container">
      <div class="card-deck mb-3 text-center mr-5 ml-5 w-100">
        <div class="card box-shadow h-100" id="silver">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Wholesalers Plan</h4>
          </div>
          <div class="card-body">
            <!-- <h2 class="card-title pricing-card-title"><small>Max Products </small><p class="text-mute">20</p></h2> -->
            <ul class="list-unstyled mt-3 mb-4">
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> Post upto 20 Products</li>
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> Establish Contacts with manufacturers & distributors</li>
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> Get Whatsapp services</li>
              <hr>
              <!-- <li>3 Months - ₹2200</li> -->
              <li>6 Months - ₹1500</li>
              <li>12 Months - ₹2700</li>
            </ul>
            <a href="user/payment/validity?package=silver"><button type="button" class="btn btn-lg btn-block btn-primary">Buy</button></a>
          </div>
        </div>
        <div class="card box-shadow h-100">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Manufacturers Plan - MD1</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> Post upto 50 Products</li>
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> Get Whatsapp services</li>
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> We market for you twice a month</li><br>
              <hr>
              <li>6 Months - ₹3000</li>
              <li>12 Months - ₹5000</li>
            </ul>
            <a href="user/payment/validity?package=gold"><button type="button" class="btn btn-lg btn-block btn-primary">Buy</button></a>
          </div>
        </div>
        <div class="card box-shadow h-100">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Manufacturers Plan - MD2</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> Post upto 100 Products</li>
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> Get Whatsapp services</li>
              <li class="pricing-card-title" style="text-align: left;"><i class="fa fa-check" aria-hidden="true"></i> We market for you thrice a month</li><br>
              <hr>
              <li>6 Months - ₹4500</li>
              <li>12 Months - ₹8000</li>
            </ul>
            <a href="user/payment/validity?package=platinum"><button type="button" class="btn btn-lg btn-block btn-primary">Buy</button></a>
          </div>
        </div>
      </div>
    </div>