
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Purchase a plan that suits your business and enjoy your sales growth</p>
</div>

    <div class="pricing-container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Silver</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">₹800 <small class="text-muted">/ month</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li><strong> Upto 30 Products</strong></li>
              <hr>
              <li>3 Months - ₹2200</li>
              <li>6 Months - ₹4000</li>
              <li>12 Months - ₹7500</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Gold</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">₹900 <small class="text-muted">/ month</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li><strong>Upto 50 Products</strong></li>
              <hr>
              <li>3 Months - ₹2500</li>
              <li>6 Months - ₹4500</li>
              <li>12 Months - ₹8000</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Platinum</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">₹1000 <small class="text-muted">/ month</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li><strong>Unlimited Products</strong></li>
              <hr>
              <li>3 Months - ₹2700</li>
              <li>6 Months - ₹5000</li>
              <li>12 Months - ₹9000</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy</button>
          </div>
        </div>
      </div>
    </div>