
<div class="mobile-view-search">
    <form class="form-group" action="/products">        
        <div class="search">
            <input class="search-area" type="text" placeholder="What are you looking for?" name="search">
            <% if (pageTitle === 'Products') { %>
            <% for (let query in queryParams) { %>
            <% if(!(query === 'search' || query === 'after' || query === 'before')) { %>
            <input name="<%= query %>" value="<%= queryParams[query] %>" hidden />
            <% } %>
            <% } %>
            <% } %>
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
            </div>
    </form>
</div>