<div id="trade-area">
    <div class="text-area">
        <div >
            <span id="t1"><b>हमारे बारे में:-</b><p class="defination">
                फैक्ट्रीदुकान युवा भारतीयों की एक पहल है, जिसका उद्देश्य "मेक इन इंडिया" को बढ़ावा देना है। हम आपके उत्पाद को बढ़ावा देने और वैश्विक स्तर पर आपके व्यवसाय को बढ़ाने का लक्ष्य रखते हैं। हर व्यवसाय को इंटरनेट के अस्तित्व की आवश्यकता होती है और हम अपने शहर में ही नहीं, बल्कि राष्ट्रीय और अंतर्राष्ट्रीय बाजार में भी आपके व्यवसाय को बढ़ाने के उद्देश्य से काम करते हैं। हमारी सेवाएं  केवल कच्चे माल को खरीदने या आपके उत्पादों को बेचने तक सीमित नहीं हैं बल्कि आप आवश्यकताओं को पोस्ट या पूरा भी कर सकते हैं।
                सरल शब्दों में, फैक्टरीदुकान का मूल सिद्धांत है: -
                "हमको आप सबको आगे लाना है, आपके उद्योगों को खूब बढ़ाना है,
                आपका सामान दुनिया के हर कोने में पहुंचा कर , भारत को सोने की चिड़िया फिर से बनाना है। ”</p></span>

            <span id="t2"><b>About us:-</b><p class="defination">
                FactoryDukaan is an initiative by young indians who aim at boosting “Make in India”. We aim at promoting your product and increasing your business globally. Every business needs internet existence and we at factorydukaan aim at increasing your business not only in your city but to the national & international market as well. Our services are not only limited on buying raw materials or selling your products but along with that you can also post or cater the requirements. 
                To Simplify, FactoryDukaan works on Principle of Business Development and Customer growth.</p></span>

            <span id="t3"><b>ਸਾਡੇ ਬਾਰੇ:-</b><p class="defination">
                ਫੈਕਟਰੀਦੁਕਾਨ ਭਾਰਤ ਦੇ ਨੌਜਵਾਨਾਂ ਦੀ ਇੱਕ ਅਜਿਹੀ ਪਹਿਲ ਹੈ, ਜਿਸਦਾ ਮੂਲ "ਮੇਕ ਇਨ ਇੰਡੀਆ" ਨੂੰ ਵਧਾਵਾ ਦੇਣਾ ਹੈ। ਅਸੀ ਤੁਹਾਡੇ ਦੁਆਰਾ ਬਣਾਈ ਗਈਆਂ ਵਸਤੂਆਂ ਨੂੰ ਦੁਨੀਆ ਭਰ ਵਿੱਚ ਪਹੁੰਚਾ ਕੇ ਤੁਹਾਡੇ ਉਦਯੋਗ ਨੂੰ ਸ਼ਿਖਰ ਤੇ ਲੈਕੇ ਜਾਣ ਦਾ ਉਦੇਸ਼ ਰੱਖਦੇ ਹਾਂ। ਅੱਜ ਦੇ ਯੁੱਗ ਵਿੱਚ ਹਰ ਕਾਰੋਬਾਰ ਦਾ ਇੰਟਰਨੈੱਟ ਤੇ ਹੋਣਾ ਬਹੁਤ ਜਰੂਰੀ ਹੈ ਤੇ ਅਸੀ ਏਸੀ ਇੰਟਰਨੈੱਟ ਰਾਹੀਂ ਤੁਹਾਡਾ ਕਾਰੋਬਾਰ ਕੇਵਲ ਤੁਹਾਡੇ ਸ਼ਹਰ ਵਿੱਚ ਹੀ ਨਹੀਂ ਬਲਕਿ ਦੁਨੀਆ ਦੇ ਹਰ ਕੋਨੇ ਵਿੱਚ ਪਹੁੰਚਾਣ ਦਾ ਜਤਨ ਕਰਦੇ ਹਾਂ। ਸਾਡੀਆਂ ਸੇਵਾਵਾਂ ਕੇਵਲ ਮਾਲ ਖਰੀਦਣ ਜਾ ਵੇਚਣ ਤਕ ਸੀਮਿਤ ਨਹੀਂ ਨੇ ਬਲਕਿ ਤੁਸੀ ਜਰੂਰਤਾਂ ਪਾ ਜਾਂ ਪੁਗਾ ਵੀ ਸਕਦੇ ਹੋ।
                ਸਾਡਾ ਮੁੱਖ ਉਦੇਸ਼ ਇੱਕ ਹੀ ਹੈ:-
                "ਤੁਹਾਨੂੰ ਸਭ ਨੂੰ ਅੱਗੇ ਲਯਾਣਾ ਹੈ, ਤੁਹਾਡੇ ਕਾਰੋਬਾਰਾਂ ਨੂੰ ਖੂਬ ਵਧਾਣਾ ਹੈ,
                ਦੁਨੀਆ ਦੇ ਹਰ ਕੋਨੇ ਚ ਤੁਹਾਡਾ ਮਾਲ ਪਹੁੰਚਾ ਕੇ, ਭਾਰਤ ਨੂੰ ਫੇਰ ਸੋਨੇ ਦੀ ਚਿੜੀਆ ਬਣਾਣਾ ਹੈ।"</p></span>
            <div class="lang-select">See in: 
                <span onclick="swich('1')"> हिन्दी</span>
                <span onclick="swich('3')"> ਪੰਜਾਬੀ</span>
                <span onclick="swich('2')"> English</span>
            </div>
        </div>
        <div id="head-img">
            <div class="trade-header">
                <span style="color: #b3f2dd;">Start</span> Your Journey Now With <span style="color: #0a1f18;">Us</span>
            </div>
            <div class="trade-img-mob">
                <img src="/images/family-values.png" alt="trade"/>
            </div>
        </div>
        <div class="trade-btns">
            <a href="/products"><button type="button" class="btn btn-outline-primary">Buy</button></a>
            <a href="/user/sell"><button type="button" class="btn btn-outline-primary">Sell</button></a>
            <a href="/requirement"><button id="require" href="/login"type="button" class="btn btn-outline-primary">Requirements</button></a>
        </div>
    </div>
    <div class="trade-img">
        <img src="/images/family-values.png" alt="trade"/>
    </div>
</div>
<script>
    document.getElementById('t2').style.display ="block";
    document.getElementById('t1').style.display ="none";
    document.getElementById('t3').style.display ="none";
    function swich(num){
        if(num == 3){
                    document.getElementById('t3').style.display ="block";
                    document.getElementById('t1').style.display ="none";
                    document.getElementById('t2').style.display ="none";
        }
        else if(num ==1){
                    document.getElementById('t1').style.display ="block";
                    document.getElementById('t2').style.display ="none";
                    document.getElementById('t3').style.display ="none";
        }
        else{
                    document.getElementById('t2').style.display ="block";
                    document.getElementById('t1').style.display ="none";
                    document.getElementById('t3').style.display ="none";
        }


    }

</script>