<div id="trade-area">
    <div class="text-area">
        <!-- <div >
            <span id="t1"><b>हमारे बारे में:-</b><p class="defination">
                FactoryDukaan एक प्रौद्योगिकी संचालित बी2बी प्लेटफ़ॉर्म है जो आपको आपकी सभी व्यावसायिक समस्याओं का समाधान प्रदान करने के उद्देश्य से है। हम आपको एक मंच प्रदान करते हैं जहाँ आप  अपने उत्पादों की बिक्री, खरीद और व्यापार कर सकते हैं। 
हम आपके व्यापार को बढ़ावा देने के साथ-साथ आपको इंटरनेट अस्तित्व भी प्रदान करते हैं ताकि आपका व्यवसाय न केवल आपके शहर में बल्कि राष्ट्रीय और अंतर्राष्ट्रीय बाजार में भी फैल जाए। 
हमारी सेवाएं केवल कच्चे माल खरीदने या अपने उत्पादों को बेचने तक ही सीमित नहीं हैं, इसके साथ-साथ आप आवश्यकताओं को पूरा या पोस्ट भी कर सकते हैं। 
सरल शब्दों में, FactoryDukaan व्यवसाय विकास और ग्राहक विकास के सिद्धांत पर काम करता है यही कारण है कि हम आपको व्हाट्सएप पर भी सेवाएं प्रदान करते हैं।</p></span>

            <span id="t2"><b>About us:-</b><p class="defination">
                FactoryDukaan is a Technology Driven B2B Platform with aim of providing you the solution to all your business problems. We provide you with a platform where you can; Sell, Purchase and Trade your products. 
We promote your Business along with providing you with much desired internet existence so that your business spreads not only in your city but to the national & international market as well. 
Our services are not only limited on buying raw materials or selling your products but,  along with that you can also post or cater the requirements. 
To Simplify, FactoryDukaan works on Principle of Business Development and Customer growth that is why we offer you services over whatsapp as well.</p></span>

            <span id="t3"><b>ਸਾਡੇ ਬਾਰੇ:-</b><p class="defination">
                FactoryDukaan ਇੱਕ ਤਕਨਾਲੋਜੀ ਦੁਆਰਾ ਸੰਚਾਲਿਤ ਬੀ 2 ਬੀ ਪਲੇਟਫਾਰਮ ਹੈ ਜਿਸਦਾ ਉਦੇਸ਼ ਤੁਹਾਨੂੰ ਤੁਹਾਡੀਆਂ ਸਾਰੀਆਂ ਕਾਰੋਬਾਰੀ ਸਮੱਸਿਆਵਾਂ ਦਾ ਹੱਲ ਪ੍ਰਦਾਨ ਕਰਨਾ ਹੈ। ਅਸੀਂ ਤੁਹਾਨੂੰ ਇਕ ਅਜਿਹਾ ਪਲੇਟਫਾਰਮ ਪ੍ਰਦਾਨ ਕਰਦੇ ਹਾਂ ਜਿੱਥੇ ਤੁਸੀਂ  ਆਪਣੇ ਉਤਪਾਦ ਵੇਚ, ਖਰੀਦ ਅਤੇ ਨਾਲ ਹੀ ਵਪਾਰ ਵੀ ਕਰ ਸਕਦੇ ਹੋ। 
ਅਸੀਂ ਤੁਹਾਡੇ ਕਾਰੋਬਾਰ ਨੂੰ ਵਧਾਉਣ ਦੇ ਨਾਲ ਤੁਹਾਨੂੰ ਬਹੁਤ ਜ਼ਿਆਦਾ ਲੋੜੀਂਦੀ ਇੰਟਰਨੈਟ ਦੀ ਮੌਜੂਦਗੀ ਵੀ ਪ੍ਰਦਾਨ ਕਰਦੇ ਹਾਂ ਤਾਂ ਜੋ ਤੁਹਾਡਾ ਕਾਰੋਬਾਰ ਨਾ ਸਿਰਫ ਤੁਹਾਡੇ ਸ਼ਹਿਰ ਵਿੱਚ, ਬਲਕਿ ਰਾਸ਼ਟਰੀ ਅਤੇ ਅੰਤਰ ਰਾਸ਼ਟਰੀ ਮਾਰਕੀਟ ਵਿੱਚ ਵੀ ਫੈਲ ਸਕੇ। 
ਸਾਡੀਆਂ ਸੇਵਾਵਾਂ ਸਿਰਫ ਕੱਚੇ ਮਾਲ ਨੂੰ ਖਰੀਦਣ ਜਾਂ ਤੁਹਾਡੇ ਉਤਪਾਦਾਂ ਨੂੰ ਵੇਚਣ ਤੇ ਸੀਮਿਤ ਨਹੀਂ ਹਨ, ਬਲਕਿ ਇਸਦੇ ਨਾਲ ਤੁਸੀਂ ਜ਼ਰੂਰਤਾਂ ਨੂੰ ਪੋਸਟ ਜਾਂ ਪੂਰਾ ਕਰ ਸਕਦੇ ਹੋ। 
ਸੌਖੇ ਸ਼ਬਦਾਂ ਵਿੱਚ, FactoryDukaan ਕਾਰੋਬਾਰ ਦੇ ਵਿਕਾਸ ਅਤੇ ਗਾਹਕ ਵਿਕਾਸ ਦੇ ਸਿਧਾਂਤ 'ਤੇ ਕੰਮ ਕਰਦੀ ਹੈ, ਇਸੇ ਲਈ ਅਸੀਂ ਤੁਹਾਨੂੰ WhatsApp ਤੇ ਵੀ ਸੇਵਾਵਾਂ ਪ੍ਰਦਾਨ ਕਰਦੇ ਹਾਂ।</p></span>
            <div class="lang-select">See in: 
                <span onclick="swich('1')"> हिन्दी</span>
                <span onclick="swich('3')"> ਪੰਜਾਬੀ</span>
                <span onclick="swich('2')"> English</span>
            </div>
        </div> -->
        <div id="head-img">
            <div class="trade-header">
                <p style="font-size: 18px;"> We are a B2B platform with P2P principles.</p>
                <span style="color: #ff912c;">Start</span> your journey with <span style="color: #0a1f18;">us</span>
            </div>
            <div class="trade-img-mob">
                <img src="/images/landing_page_small.png" alt="trade"/>
            </div>
        </div>
        <div class="trade-btns">
            <a href="/products"><button type="button" class="btn btn-outline-primary">Buy</button></a>
            <a href="/user/sell"><button type="button" class="btn btn-outline-primary">Sell</button></a>
            <a href="/requirement"><button id="require" href="/login"type="button" class="btn btn-outline-primary">Requirements</button></a>
        </div>
    </div>
    <div class="trade-img">
        <img src="/images/landing_page_small.png" alt="trade"/>
    </div>
</div>
<script>
    document.getElementById('t2').style.display ="block";
    document.getElementById('t1').style.display ="none";
    document.getElementById('t3').style.display ="none";
    function swich(num){
        if(num == 3){
                    document.getElementById('t3').style.display ="block";
                    document.getElementById('t1').style.display ="none";
                    document.getElementById('t2').style.display ="none";
        }
        else if(num ==1) {
                    document.getElementById('t1').style.display ="block";
                    document.getElementById('t2').style.display ="none";
                    document.getElementById('t3').style.display ="none";
        }
        else {
                    document.getElementById('t2').style.display ="block";
                    document.getElementById('t1').style.display ="none";
                    document.getElementById('t3').style.display ="none";
        }
    }
</script>