<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/admin"><img src="/images/logo.png" height="30px" /></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav ml-auto mt-2 mt-sm-0">
				<li class="nav-item">
					<a class="nav-link" href="/admin/users">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/products">Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/pending-gst-verifications">Pending Verifications</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/faq">FAQ</a>
				</li>
				<li class="nav-item">
					<form action="/logout" method="POST">
						<a class="nav-link">
							<button class="btn p-0" type="submit">
								Logout
							</button>
						</a>
					</form>
				</li>
			</ul>
		</div>
	</div>
</nav>